body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.building{
    width:500px;
    z-index: 1;
    top:50%;
}

.lift{
    background:teal;
    width: 40px;
    height: 40px;
    border: 1px solid teal;
    margin: 5px;
    position: absolute;
    top:0;
    color: white;
}

.lift#l1{
    transform:translate(-200px, 8px);
}

.lift#l2{
    transform:translate(-140px, 8px);
}

.lift#l3{
    transform:translate(-80px, 8px);
}

.floor-wrapper{
    margin:2px;
    margin-left: 200px;
}

.floor-container{
    position: relative;
    width:150px;
    height: 40px;
    border: 1px solid grey;
    margin: 5px;   
}

.floor{
    width:150px;
    top: 30%;
    left: 30%;
    position:absolute;
}

.floor-container:hover{
    background:teal;
    color: white;
}

.line{
    width: 2px;
    height: 900px;
    position: absolute;
    background:teal;
}

.line1{
    transform: translate(-200px);
}

.line2{
    transform: translate(-140px);
}

.line3{
    transform: translate(-80px);
}

.selected{
    background:teal;
    color: white;
}