body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.building{
    width:500px;
    height:auto;
    z-index: 1;
}
.lifts{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:40px;
    margin:2px;
}

.lift{
    background:white;
    width: 40px;
    height: 40px;
    border: 1px solid teal;
    margin: 2px;
    display: hidden;
    align-items: center;
    justify-content: center;
}

.floor-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
}

.floor{
    background: white;
    border: 1px solid grey;
    flex:1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor:hover{
    background:yellowgreen;
    /* color: white; */
}

.line{
    width: 2px;
    height: 900px;
    position: absolute;
    background:teal;
}

.line1{
    transform: translate(-219px);
}

.line2{
    transform: translate(-172px);
}

.line3{
    transform: translate(-126px);
}

.selected{
    background:teal;
    color: white;
}