body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

.building{
    width:500px;
    z-index: 1;margin:0px;
    /* top:50%; */
}

.lift{
    background:teal;
    width: 40px;
    height: 40px;
    border: 1px solid teal;
    margin: 0px;
    position: absolute;
    top:0;
    color: white;
}

.lift#l1{
    /* transform:translate(-200px, 0px); */
    top:0px;
    left:645px;
}

.lift#l2{
    /* transform:translate(-140px, 0px); */
    top:0px;
    left:705px;
}

.lift#l3{
    /* transform:translate(-80px, 0px); */
    top:0px;
    left:765px;
}

.floor-container{
    position: relative;
    left: 220px;
    width:150px;
    height: 40px;
    border-bottom: 1px solid grey;
    /* margin: 10px;    */
}

.floor{
    width:150px;
    top: 30%;
    left: 30%;
    position:absolute;
}

.floor-container:hover{
    background:grey;
    color: white;
}

.line{
    width: 2px;
    height: 800px;
    position: absolute;
    background:teal;
}

.line1{
    transform: translate(-200px);
}

.line2{
    transform: translate(-140px);
}

.line3{
    transform: translate(-80px);
}

.selected{
    background:teal;
    color: white;
}